.nav-content {
    background: #eee url(./bg-grid.jpeg);
}
.horizontal {
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
}
.titles{
    white-space: nowrap;
    color: #555;
    background: #000;
    text-align: center;
}
.titles div {
    font-weight: bold;
    display: inline-block;
    padding: 0.8em;
}
.titles .current {
    color: #fff;
    padding-top: 0.6em;
    border-bottom: 0.6em solid green;
}
.screen {
    white-space: normal;
    display: inline-block;
    vertical-align: text-top;
    overflow: hidden;
}
